body{
    background-color: #000000;
    font-family: monospace;
    font-size: medium;
    align-items: center;
    width: 409px;
    height: 731px;
    cursor: none;
    overflow: hidden;
        
}
.cursor{
    display: flex;
    position: fixed;
    width: 2%;
    height: auto;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 9999;
}
@keyframes transition{
    from{
            opacity: 0;
    }
    to{
            opacity: 100%;
    }

}
#all{
    animation:transition 2s;
    font-size: 200px;
}
p{
    color: #afaaaa;
    font-family: monospace;
    font-size: 10%;
}
h3{
    color: #afaaaa;
    font-family: monospace;
    font-size: 20%;
}
h2{
    position: absolute;
    color: #afaaaa;
    font-family: monospace;
    font-size: 60%;
}



/*presentation*/

.yolo{
    position: absolute;
    opacity: 0;
    z-index: 1000;
}
.yolo:hover{
    opacity: 100%;
}

@keyframes flashlight{
    from{
        opacity: 50%;
    }
    to{
        opacity: 100%;
    }
}
@keyframes appears{
    from{
        opacity: 0;
        color: #090527;
    }
    to{
        opacity: 100%;
        color: #afaaaa;
    }
}
.here{
    text-transform: uppercase;
    animation: appears 8s ;
    z-index: 99;
}
.here:hover{
    animation: flashlight 0.12s infinite;
}
.C1c{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: -4%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 90%;
    z-index:98;
}

.BG{
    position:absolute;
    width: 100%;
    align-items: center;
    opacity: 100%;
    z-index: 97;
    top: 0%;
    left: 0%;
}
/*all scenes container*/
.scenarioscontainer{
    width: 409px;
    height: 731px;
    top: 0%;
    left: 0%;
    cursor: none;
}
/*escene 1*/
.shot1{
    display: none;
}
.walking{
    text-transform: uppercase;
    z-index: 106;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 2%;
    color: #675f52bb;
    font-family: monospace;
    font-size: 50%;
}
.continue1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: 1%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 90%;
    z-index: 105;
}
.no1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: 1%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: 94%;
    left: 90%;
    z-index: 105; 
}
.BG1{
    position:absolute;
    width: 120%;
    opacity: 100%;
    top: -60%;
    left: 0%;
    z-index: 100;
    filter: brightness(30%);
}
/*escene 2*/
.shot2{
    display: none;
}
.see{
    text-transform: uppercase;
    z-index: 112;
    width: 100%;
    position: relative;
    color: #c04f03bb;
    font-family: monospace;
    font-size: 50%;
}
.randomtext2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: 1%;
    width: 10%;
    height: auto;
    position: absolute;
    z-index: 111;
}
.continue2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: 1%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 90%;
    z-index: 111;
}
.no2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: 1%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: 94%;
    left: 90%;
    z-index: 111; 
}
.BG2{
    position:absolute;
    width: 104%;
    opacity: 100%;
    top: -40%;
    left: 0%;
    z-index: 109;
}
/*scene 3*/
.choose{
    text-transform: uppercase;
    z-index: 120;
    width: 100%;
    position: relative;
    color: #220808;
    font-family: monospace;
    font-size: 50%;
}
.door1{
    position: absolute ;
    width: 12%;
    height: 24%;
    background-color: #ffffff;
    margin-top: -2%;
    left: 13%;
    filter: opacity(0%);
    z-index: 119;
}
.door1:hover{
    filter: opacity(20%);
    transform: scale(1.5, 1.5);
}
.door2{
    position: absolute;                   
    width: 12%;
    height: 24%;
    background-color: #ffffff;
    margin-top: -2%;
    left: 46%;
    filter: opacity(0%);
    z-index: 119;
}
.door2:hover{
    filter: opacity(20%);
    transform: scale(1.5, 1.5);
}
.door3{
    position: absolute;
    width: 12%;
    height: 24%;
    background-color: #ffffff;
    margin-top: -2%;
    left: 80%;
    filter: opacity(0%);
    z-index: 119;
}
.door3:hover{
    filter: opacity(20%);
    transform: scale(1.5, 1.5);
}
.BG3{
    position:absolute;
    width: 104%;
    opacity: 100%;
    top: -40%;
    left: 0%;
    z-index: 117;
}
/*scene 4 door1*/
.what{
    text-transform: uppercase;
    z-index: 130;
    width: 100%;
    position: relative;
    color: #c04f03bb;
    font-family: monospace;
    font-size: 50%;
}
.continue4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: 1%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 90%;
    z-index: 111;
}
.randomtext4{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: 1%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: auto;
    left: 0%;
    z-index: 111; 
}
.BG4{
    position:absolute;
    width: 104%;
    opacity: 100%;
    top: -40%;
    left: 0%;
    z-index: 109;
}