body{
    background-color: #000000;
    font-family: monospace;
    font-size: medium;
    align-items: center;
    width: 409px;
    height: 731px;
    cursor: none;
    overflow: hidden;
}
.cursor{
    display: flex;
    position: fixed;
    width: 2%;
    height: auto;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 9999;
}
@keyframes transition{
    from{
            opacity: 0;
            transform: scale(2, 2);
    }
    to{
            opacity: 100%;
            transform: none;
    }

}
#all{
    animation:transition 2s;
    font-size: 200px;
}
p{
    color: #afaaaa;
    font-family: monospace;
    font-size: 10%;
}
h3{
    color: #afaaaa;
    font-family: monospace;
    font-size: 20%;
}
h2{
    position: absolute;
    color: #afaaaa;
    font-family: monospace;
    font-size: 50%;
}



/*presentation*/

.yolo{
    position: relative;
    opacity: 0;
    z-index: 1000;
}
.yolo:hover{
    opacity: 100%;
}
@keyframes appears{
    from{
        opacity: 0;
        color: #090527;
    }
    to{
        opacity: 100%;
        color: #afaaaa;
    }
}
@keyframes flashlight{
    from{
        opacity: 50%;
    }
    to{
        opacity: 100%;
    }
}
.here{
    text-transform: uppercase;
    animation: appears 8s ;
    z-index: 999;
}
.here:hover{
    animation: flashlight 0.12s infinite;
}
.C1c{
    font-family: 'Courier New', Courier, monospace;
    font-size: 10%;
    color: #ffff;
    padding: -4%;
    background-color: #000000;
    width: 2%;
    height: auto;
    position: absolute;
    top: 90%;
    left: 90%;
    cursor: pointer;
    z-index:998;
}

.BG1{
    position:absolute;
    width: 100%;
    align-items: center;
    opacity: 89%;
    z-index: 997;
    top: 0%;
    left: 0%;
}
/*escene 1*/